input {
    border: none;
    border-bottom: solid 0.01vw var(--primary-color);
    background-color: var(--second-color);
    text-align: justify;
    font-family: var(--font-second);
}

.success h2#modalTitle {
    background-color: var(--success-color);
}

.info h2#modalTitle {
    background-color: var(--info-color);
}

.warning h2#modalTitle {
    background-color: var(--warning-color);
}

.error h2#modalTitle {
    background-color: var(--error-color);
}

input:focus-visible {
    outline: none;
    border-bottom: var(--primary-color) solid 0.01vw;
}

button.floor-tab.active {
    color: var(--second-color);
}

.btn_save,
.btn_success {
    background-color: var(--success-color);
}

.btn_warning,
.btn_update {
    background-color: var(--warning-color);
}

.btn_delete,
.btn_error {
    background-color: var(--error-color);
}

.btn_info {
    background-color: var(--info-color);
}

.btn_save:hover,
.btn_update:hover,
.btn_delete:hover {
    filter: brightness(6);
}

.btn_form:hover {
    cursor: pointer;
    filter: brightness(6);
}

.d-none {
    display: none !important;
}

.sigo-header {
    height: 5vh;
}
.search_result_item_node {
    color: var(--second-color);
    font-size: 1.7vh;
    height: 2vh;
}
.bg-sigo {
    background-color: var(--second-color);
    color: var(--third-color);
    position: relative;
}

form>p {
    width: 33% !important;
}

td>img {
    width: 22px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--third-color-transparent);
}


.modal-content {
    /* background-color: var(--third-color); */
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45vw;
    height: 75vh;
}

@media screen and (min-aspect-ratio: 1/1) {
    .room-item {
        height: 16vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cesium-viewer-fullscreenContainer {
        width: 3vw !important;
        height: 3vw !important;
    }

    form {
        display: flex;
        margin-inline: 0vw;
        flex-direction: column;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 1.3vw;
        padding-bottom: 0.9vw;
        max-height: 51.5vh;
        overflow-y: auto;
        margin-bottom: 2vw;
        padding-inline: 1vw;
        width: 85%;
        justify-content: flex-start;
    }


    .cesium-viewer-bottom {
        left: 0.5vw !important;
    }

    label {
        font-family: var(--font-second);
        color: var(--third-color);
        font-size: 1.8vh;
    }

    select {
        width: 100%;
        margin-top: 0.3vw;
        border: none;
        background-color: var(--second-color);
        border-bottom: var(--primary-color) solid 1px;
        font-family: var(--font-third);
        font-weight: 300;
    }

    select:focus-visible {
        outline: none;
        border-bottom: 2px solid var(--third-color);
    }

    select:hover {
        cursor: pointer;
    }

    div#modalBody {
        height: 8vh;
        display: flex;
        align-items: center;
        margin-inline: 0.4vw;
        font-size: 1vw;
        font-weight: 300;
        font-family: 'Lato';
        overflow-y: auto;
        margin-block: 0.2vh;
    }

    div#cesium_admin {
        width: 94.5vw;
        height: 100vh;
    }

    div#modalInfo {
        width: 36vw;
        height: 13vh;
        left: 1vw;
        top: 1vw;
        border-radius: 0.5vw;
        overflow: hidden;
    }

    .modal .modal-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--second-color);
    }

    .modal h2#modalTitle {
        padding: 0.4vw;
        margin: 0;
        height: max-content;
        font-size: 1vw;
        font-weight: 200;
        font-family: 'Bebas Neue';
        color: var(--third-color);
    }

    div#rooms_by_floor {
        width: 100%;
        height: 30vh;
        color: var(--second-color);
        overflow-y: auto;
        margin-bottom: 1vh;
    }

    div#info_object {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .btn_return {
        background-color: #3f3f3f;
        margin-bottom: 4vh !important;
    }

    .btn_return:hover {
        background-color: #212121;
        cursor: pointer;
    }

    .subtitle_object {
        width: 100%;
        color: var(--second-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1vw;
        font-family: 'Lato';
        font-weight: 400;
    }

    #info_object>p {
        color: var(--second-color);
        width: 100%;
        margin-top: 0 !important;
        text-align: justify;
        height: 15%;
        overflow-y: auto;
    }

    .floors-tabs {
        width: 100%;
        overflow-x: auto;
        display: flex;
    }

    button.floor-tab {
        width: 33.3%;
        border-radius: 0 !important;
        background-color: transparent;
        border: none;
        color: var(--second-color);
        border-bottom: solid;
        font-family: 'Bebas Neue';
        font-size: 1.2vw;
    }

    button.floor-tab:hover {
        cursor: pointer;
        filter: brightness(0.5);
    }

    button.floor-tab.active {
        color: var(--primary-color);
    }

    .btn_form {
        border: none;
        border-radius: 0.2vw;
        margin-block: 0.2vw;
        height: 1.5vw;
        font-family: 'Lato';
        font-weight: 700;
        color: #ffffff;
    }

    .option .icon {
        width: 1.5vw;
    }

    header.sidebar {
        position: absolute;
        z-index: 40000;
        background-color: #1f1e1eff;
        right: 0;
        height: 100vh;
        width: 5.5vw;
    }
    div#nodes_by_category {
    height: 44vh;
    overflow: auto;
}

    .nav-item {
        height: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Lato";
        font-size: 0.7vw;
        color: #aaa;
        cursor: pointer;
    }

    .sidebar .nav-item-logo {
        height: 15vh;
        display: block;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar img,
    .sidebar svg {
        width: 4vw;
        margin-bottom: 1vh;
    }

    div#configuration {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .nav-item.active {
        background-color: #8c8b8bff;
        color: #333;
        font-weight: 800;
    }

    .nav-item.active img {
        filter: brightness(0.2);
    }

    .nav-item:hover {
        background-color: #0c0c0c;
        color: #ebebeb;
    }

    .card {
        position: absolute;
        z-index: 20;
        bottom: 0.5vw;
        right: 6vw;
        background-color: var(--second-color);
        width: 18vw;
        border-radius: 1vw;
        height: max-content;
    }

    span.card-title {
        font-size: 1.5vw;
        text-align: center;
        width: 100%;
        display: block;
        font-family: "Bebas Neue", serif;
        margin-block: 0.5vw;
    }

    #configuration_card .card-content {
        height: 30vw;
        overflow-y: auto;
    }

    span.card-section-title {
        font-family: "Lato", serif;
        font-size: 1.8vh;
    }

    .card-section {
        margin-inline: 1vw;
    }

    .card-section-content {
        margin-inline: 0.5vw;
        margin-bottom: 0.5vw;
    }

    .option {
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Lato';
        font-size: 0.8vw;
    }

    .checkbox {
        width: 3vw;
        height: 1.5vw;
        border-radius: 3vw;
        position: relative;
        cursor: pointer;
    }

    .checkbox.off {
        background-color: var(--third-color);
    }

    .checkbox.on {
        background-color: var(--primary-color);
    }

    .checkbox:before {
        content: '';
        width: 1.3vw;
        height: 1.3vw;
        border-radius: 2vw;
        display: block;
        background-color: var(--second-color);
        position: absolute;
        top: 0.1vw;
        transform: var(--transition);
    }

    .checkbox.off:before {
        right: 0.1vw;
        transform: var(--transition);
    }

    .checkbox.on:before {
        left: 0.1vw;
        transform: var(--transition);
    }

    .close {
        text-align: right;
        position: absolute;
        top: 0;
        right: 1.3vw;
        font-family: 'Lato';
        font-size: 1.3vw;
        font-weight: 500;
        cursor: pointer;
    }

    .button_tools {
        width: 4.5vw;
        height: 4.5vw;
        position: absolute;
        background: var(--primary-color);
        bottom: 1.5vw;
        left: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        cursor: pointer;
        z-index: 10000;
    }

    .button_tools:hover {
        filter: brightness(6);
    }

    div>img {
        width: 95%;
        height: auto;
    }

    .bar_tools {
        position: absolute;
        width: 20vw;
        height: 4vw;
        background-color: var(--second-color);
        bottom: 1.75vw;
        left: 4vw;
        display: flex;
        flex-direction: row;
        column-gap: 1.1vw;
        border-radius: 1vw;
        padding-inline: 1vw 0.5vw;
        z-index: 1000;
        overflow: hidden;
        transition: all var(--transition) cubic-bezier(0.29, 0.73, 0, 1.01);
        align-items: center;
        justify-content: flex-end;
    }

    .tool {
        position: relative;
        width: 3.7vw;
    }

    .tool:before {
        content: '';
        width: 0vw;
        display: block;
        position: absolute;
        right: 0vw;
        border-radius: 0.2vw;
        border-right: solid #333 0.7vw;
        border-bottom: solid transparent 0.7vw;
    }

    .bar_tools.off {
        width: 0;
        left: 3vw;
    }

    div#search_results_div {
        height: 26vw;
        margin-bottom: 1vw;
        width: 100%;
        overflow-y: auto;
        overflow-x: auto;
        border-top: solid var(--second-color) 0.1px;
    }

    .scroll-black::-webkit-scrollbar {
        width: 8px !important;
        height: 1vh!important;
    }

    .scroll-black::-webkit-scrollbar-track {
        background: #f1f1f12b !important;
        border-radius: 4px !important;
    }

    .scroll-black::-webkit-scrollbar-thumb {
        background: #888 !important;
        border-radius: 4px !important;
    }

    .scroll-black::-webkit-scrollbar-thumb:hover {
        background: #ffffffbf !important;
    }

    .scroll-white::-webkit-scrollbar {
        width: 8px !important;
        margin-left: 1vw !important;
    }

    .scroll-white::-webkit-scrollbar-track {
        background: #4c4c4c40 !important;
        border-radius: 4px !important;
    }

    .scroll-white::-webkit-scrollbar-thumb {
        background: #565555d1 !important;
        border-radius: 4px !important;
    }

    .scroll-white::-webkit-scrollbar-thumb:hover {
        background: #000000ba !important;
    }

    #search_results h3,
    #info_object h3 {
        color: var(--second-color);
        font-family: 'Bebas Neue';
        font-weight: 300;
        display: block;
        width: 8vw;
        height: 2vw;
        font-size: 0.9vw;
        margin: 0.7vw 0;
    }

    input#KeyWordSearch {
        background-color: transparent;
        font-family: 'Bebas Neue';
        color: var(--second-color);
        border-bottom: solid var(--primary-color);
        height: 1vw;
    }

    .search_result_item {
        height: 8vw;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 1vw;
        border-bottom: var(--second-color) solid 0.1px;
        margin-inline: -2vw;
        padding-inline: 2vw;
    }

    img.search_result_image {
        height: 68%;
        width: auto;
        border-radius: 0.5vw;
    }

    .search_result_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: var(--second-color);
        font-family: 'Lato';
        font-size: 0.7vw;
    }

    #search_results>h3,
    #KeyWordSearch {
        margin-block: 1vw;
        height: 1vw;
    }

    div#search_results,
    #info_object {
        width: 19vw;
        background-color: var(--third-color-transparent);
        border-radius: 0 1vw 1vw 0;
        margin-left: -1vw;
        padding: 0vw 1vw 0vw 2vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        max-height: 30.1vw;
    }

    div#tools_container {
        position: absolute;
        width: max-content;
        height: max-content;
        top: 7.5vw;
        left: 1vw;
        display: flex;
        flex-direction: row;
    }

    .search_result_content a {
        text-decoration: none;
        color: #c13;
        font-family: 'Bebas Neue';
        font-size: 0.8vw;
        margin-top: 0.5vw;
    }

    div#form_basic {
        width: 15vw;
        height: max-content;
        position: relative;
        display: flex;
        background-color: var(--second-color);
        flex-wrap: wrap;
        justify-content: flex-start;
        border-radius: 0.5vw;
        flex-direction: column;
        align-items: center;
        bottom: 0;
    }

    div#form_basic h3 {
        font-family: "Bebas Neue", serif;
        font-size: 1.3vw;
        margin: 0.5vw;
        font-weight: 500;
    }
    #nodes_by_category h3 {
        width: 39vh!important;
        text-align: center;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .room-item {
        height: 16vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cesium-viewer-fullscreenContainer {
        width: 7vw !important;
        height: 7vw !important;
        top: 0 !important;
    }

    .option span {
        width: 57%;
    }

    form {
        display: flex;
        margin-inline: 0vw;
        flex-direction: column;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 2.3vw;
        padding-bottom: 0.9vw;
        max-height: 50.5vh;
        overflow-y: auto;
        margin-bottom: 2vw;
        padding-inline: 2vw;
        width: 85%;
        justify-content: flex-start;
    }

    div#modalBody {
        height: 8vh;
        display: flex;
        align-items: center;
        margin-inline: 0.4vw;
        font-size: 1vw;
        font-weight: 300;
        font-family: 'Lato';
        overflow-y: auto;
        margin-block: 0.2vh;
    }

    div#modalInfo {
        width: 76vw;
        height: 13vh;
        left: 1vw;
        top: 1vw;
        border-radius: 1.5vw;
        overflow: hidden;
    }

    .modal .modal-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--second-color);
    }

    .modal h2#modalTitle {
        padding: 0.4vw 1.4vw;
        margin: 0;
        height: max-content;
        font-size: 3vh;
        font-weight: 200;
        font-family: 'Bebas Neue';
        color: var(--third-color);
    }

    .cesium-viewer-bottom {
        left: 0.5vw !important;
    }

    label {
        font-family: var(--font-second);
        color: var(--third-color);
    }

    select {
        width: 100%;
        margin-top: 0.3vw;
        border: none;
        background-color: var(--second-color);
        border-bottom: var(--primary-color) solid 1px;
        font-family: var(--font-third);
        font-weight: 300;
    }

    select:focus-visible {
        outline: none;
        border-bottom: 2px solid var(--third-color);
    }

    select:hover {
        cursor: pointer;
    }

    div#modalBody {
        height: 7vh;
        display: flex;
        align-items: center;
        margin-inline: 1.4vw;
        font-size: 2.2vh;
        font-weight: 300;
        font-family: 'Lato';
    }

    div#cesium_admin {
        height: 92vh;
        width: 100vw;
    }

    div#modalInfo.success {
        width: 20vw;
        height: 10vh;
        left: 1vw;
        top: 1vw;
        border-radius: 0.5vw;
        overflow: hidden;
    }

    .success .modal-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--second-color);
    }

    .success h2#modalTitle {
        background-color: var(--primary-color);
        padding: 0.4vw;
        margin: 0;
        height: max-content;
        font-size: 1vw;
        font-weight: 200;
        font-family: 'Bebas Neue';
        color: var(--third-color);
    }

    div#rooms_by_floor {
        width: 100%;
        height: 19vh;
        color: var(--second-color);
        overflow-y: auto;
        margin-bottom: 1vh;
    }

    div#info_object {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .btn_return {
        background-color: #3f3f3f;
        margin-bottom: 1.5vh !important;
    }

    .btn_return:hover {
        background-color: #212121;
        cursor: pointer;
    }

    .subtitle_object {
        width: 100%;
        color: var(--second-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1vw;
        font-family: 'Lato';
        font-weight: 400;
    }

    #info_object>p {
        color: var(--second-color);
        width: 100%;
        margin-top: 0 !important;
        text-align: justify;
        height: max-content;
        overflow-y: auto;
        font-family: var(--font-secondary);
        font-size: 1.5vw;
    }

    .floors-tabs {
        width: 100%;
        overflow-x: auto;
        display: flex;
    }

    button.floor-tab {
        width: 33.3%;
        border-radius: 0 !important;
        background-color: transparent;
        border: none;
        color: #3a3a3a;
        border-bottom: solid;
        font-family: 'Bebas Neue';
        font-size: 1.2vw;
    }

    button.floor-tab:hover {
        cursor: pointer;
        color: #979797;
    }

    .btn_form {
        border: none;
        border-radius: 0.2vh;
        margin-block: 0.2vh;
        height: 2.5vw;
        font-family: 'Lato';
        font-weight: 700;
        color: #ffffff;
    }

    .option .icon {
        width: 3.5vw;
    }

    header.sidebar {
        position: absolute;
        z-index: 40000;
        background-color: #1f1e1eff;
        right: 0;
        height: 8vh;
        width: 100vw;
        bottom: 0;
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Lato";
        font-size: 1.6vw;
        color: #aaa;
        cursor: pointer;
        width: 16%;
    }

    .sidebar .nav-item-logo {
        width: 16%;
        display: block;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar img,
    .sidebar svg {
        width: 50%;
        margin-bottom: 1vh;
    }

    .nav-item.active {
        background-color: #8c8b8bff;
        color: #333;
        font-weight: 800;
    }

    .nav-item.active img {
        filter: brightness(0.2);
    }

    .nav-item:hover {
        background-color: #0c0c0c;
        color: #ebebeb;
    }

    #configuration_card {
        position: absolute;
        z-index: 20;
        bottom: 9vh;
        right: 1vw;
        background-color: var(--second-color);
        width: 36vw;
        border-radius: 1.5vw;
        height: max-content;
    }

    span.card-title {
        font-size: 2.5vw;
        text-align: center;
        width: 100%;
        display: block;
        font-family: "Bebas Neue", serif;
        margin-block: 0.5vw;
    }

    #configuration_card .card-content {
        height: 23vh;
        overflow-y: auto;
    }

    span.card-section-title {
        font-family: "Lato", serif;
        font-size: 2.7vw;
        font-weight: 700;
    }

    .card-section {
        margin-inline: 1vw;
    }

    .card-section-content {
        margin-inline: 0.5vw;
        margin-bottom: 0.5vw;
    }

    .option {
        height: 7vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Lato';
        font-size: 2.3vw;
    }

    .checkbox {
        width: 8vw;
        height: 4vw;
        border-radius: 3vw;
        position: relative;
        cursor: pointer;
    }

    .checkbox.off {
        background-color: var(--third-color);
    }

    .checkbox.on {
        background-color: var(--primary-color);
    }

    .checkbox:before {
        content: '';
        width: 3.5vw;
        height: 3.5vw;
        border-radius: 2vw;
        display: block;
        background-color: var(--second-color);
        position: absolute;
        top: 0.3vw;
        transform: var(--transition);
    }

    .checkbox.off:before {
        right: 0.1vw;
        transform: var(--transition);
    }

    .checkbox.on:before {
        left: 0.1vw;
        transform: var(--transition);
    }

    .close {
        text-align: right;
        position: absolute;
        top: 0;
        right: 1.3vw;
        font-family: 'Lato';
        font-size: 1.3vw;
        font-weight: 500;
        cursor: pointer;
    }

    .button_tools {
        width: 4.5vw;
        height: 4.5vw;
        position: absolute;
        background: var(--primary-color);
        bottom: 1.5vw;
        left: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        cursor: pointer;
        z-index: 10000;
    }

    .button_tools:hover {
        filter: brightness(6);
    }

    div>img {
        width: 95%;
        height: auto;
    }

    .bar_tools {
        position: absolute;
        width: 20vw;
        height: 4vw;
        background-color: var(--second-color);
        bottom: 1.75vw;
        left: 4vw;
        display: flex;
        flex-direction: row;
        column-gap: 1.1vw;
        border-radius: 1vw;
        padding-inline: 1vw 0.5vw;
        z-index: 1000;
        overflow: hidden;
        transition: all var(--transition) cubic-bezier(0.29, 0.73, 0, 1.01);
        align-items: center;
        justify-content: flex-end;
    }

    .tool {
        position: relative;
        width: 3.7vw;
    }

    .tool:before {
        content: '';
        width: 0vw;
        display: block;
        position: absolute;
        right: 0vw;
        border-radius: 0.2vw;
        border-right: solid #333 0.7vw;
        border-bottom: solid transparent 0.7vw;
    }

    .bar_tools.off {
        width: 0;
        left: 3vw;
    }

    div#search_results_div {
        height: 53.5vh;
        margin-bottom: 1vw;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border-top: solid var(--second-color) 0.1px;
    }

    .scroll-black::-webkit-scrollbar {
        width: 8px !important;
    }

    .scroll-black::-webkit-scrollbar-track {
        background: #f1f1f12b !important;
        border-radius: 4px !important;
    }

    .scroll-black::-webkit-scrollbar-thumb {
        background: #888 !important;
        border-radius: 4px !important;
    }

    .scroll-black::-webkit-scrollbar-thumb:hover {
        background: #ffffffbf !important;
    }

    .scroll-white::-webkit-scrollbar {
        width: 8px !important;
        margin-left: 1vw !important;
    }

    .scroll-white::-webkit-scrollbar-track {
        background: #4c4c4c40 !important;
        border-radius: 4px !important;
    }

    .scroll-white::-webkit-scrollbar-thumb {
        background: #565555d1 !important;
        border-radius: 4px !important;
    }

    .scroll-white::-webkit-scrollbar-thumb:hover {
        background: #000000ba !important;
    }

    #search_results h3,
    #info_object h3 {
        color: var(--second-color);
        font-family: 'Bebas Neue';
        font-weight: 300;
        display: block;
        width: 100%;
        height: max-content;
        font-size: 2vw;
        margin: 0.7vw 0;
    }

    input#KeyWordSearch {
        background-color: transparent;
        font-family: 'Bebas Neue';
        color: var(--second-color);
        border-bottom: solid var(--primary-color);
        height: 2.5vw;
        font-size: 2vw;
        width: 50%;
    }

    .search_result_item {
        height: 18vw;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 1vw;
        border-bottom: var(--second-color) solid 0.1px;
        margin-inline: -2vw;
        padding-inline: 2vw;
    }

    img.search_result_image {
        height: 70%;
        width: auto;
        border-radius: 0.5vw;
    }

    .search_result_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: var(--second-color);
        font-family: 'Lato';
        font-size: 1.8vw;
    }

    #search_results>h3,
    #KeyWordSearch {
        margin-block: 1vw;
        height: 2.5vw;
        width: 45%;
        display: flex;
        align-items: center;
    }

    div#search_results,
    #info_object {
        width: 45vw;
        background-color: #383636db;
        border-radius: 0 1vw 1vw 0;
        margin-left: -1vw;
        padding: 0vw 1vw 0vw 2vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        height: max-content;
        max-height: 57.5vh;
    }

    div#tools_container {
        position: absolute;
        width: max-content;
        height: max-content;
        bottom: 28vh;
        left: 1vw;
        display: flex;
        flex-direction: row;
    }

    .search_result_content a {
        text-decoration: none;
        color: #c13;
        font-family: 'Bebas Neue';
        font-size: 1.8vw;
        margin-top: 0.5vw;
    }

    div#form_basic {
        width: 51vw;
        height: max-content;
        position: relative;
        display: flex;
        background-color: var(--second-color);
        flex-wrap: wrap;
        justify-content: flex-start;
        border-radius: 1.5vw;
        flex-direction: column;
        align-items: center;
        bottom: 0;
    }

    div#form_basic h3 {
        font-family: "Bebas Neue", serif;
        font-size: 4.3vw;
        margin: 0.5vw;
        font-weight: 500;
    }
}